@{
  Layout = "_Layout"; 
}

<header>
  <p id="stylist-info">@Html.ActionLink("Stylist's Clients", "Details", "Stylists")</p>
  <p id="stylist-list">@Html.ActionLink("List of Stylists", "Index", "Stylists")</p>
</header>

@model Salon.Models.Stylist

<h2 id="warning"><strong>WARNING!</strong></h2> 

<p>You will be removing <strong><em>@Html.DisplayFor(model => model.StylistName)</em></strong> from the Employee Database.</p>
<p><em><strong>Are You Sure?</strong></em></p>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" required/>
}