@{
  Layout = "_Layout"; 
}

<h1>Welcome Back Eau</h1>
<p>Please Select from the Options in the Tab Below to navigate to your lists.</p>
<p>At any time, Select from the Option in the Tab above to return here</p>