@{
  Layout = "_Layout"; 
}
<header id="header" class="head-foot">
  <p id="stylist-list">@Html.ActionLink("View All Stylists", "Index", "Stylists")</p> 
  <p id="client-list">@Html.ActionLink("View All Clients", "Index", "Clients")</p>
</header>
<main>
  <h1>Welcome Back Eau Claire</h1>
  <p>Select from the Options in the Above to navigate to your lists.</p>
  <p>To return here at any time, click on Back to Home</p>
</main>