@{
  Layout = "_Layout"; 
}

<header>
  <p id="client-info">@Html.ActionLink("Client Info", "Details", "Clients")</p>
  <p id="client-list">@Html.ActionLink("List of Stylists", "Index", "Clients")</p>
</header>

@model Salon.Models.Client

<h2 id="warning"><strong>WARNING!</strong></h2> 

<p>You will be removing <strong><em>@Html.DisplayFor(model => model.ClientName)</em></strong> from the Client Database.</p>
<p><em><strong>Are You Sure?</strong></em></p>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" required/>
}